<div class="spotify_home-container row">
    <div class="spotify_home-container_side-bar col-2">
        <div class="spotify_home-container_side-bar-item">
            <img width="150" class="m-3 text-left" src="assets\Spotify-green.png" alt="spotify logo" />
        </div>
        <div class="spotify_home-container_side-bar-item">
            <a>Home</a>
        </div>
        <div class="spotify_home-container_side-bar-item">
            <a>Search</a>
        </div>
        <div class="spotify_home-container_side-bar-item">
            <a>Your Library</a>
        </div>
        <div class="spotify_home-container_side-bar-item">
            <a>Create Playlist</a>
        </div>
    </div>
    <div class="spotify_home-container_playlist col-10">
        <app-top-nav></app-top-nav>
        <div [style.paddingTop]="'48px'" class="mt-5 container-fluid">
            <h4 [style.color]="'white'" [style.padding]="'10px'">Focus</h4>
            <div class="Playlist_card_collections">
                <div id="song_card_item" *ngFor="let sc of songCards">
                <app-song-card 
                [playlistThambnail]="sc.thumbnail" 
                [title]="sc.title" 
                [description]="sc.description">
            </app-song-card>
                </div>
            </div>
        </div>
        <div [style.paddingTop]="'250px'" class="mt-5 container-fluid">
            <h4 [style.color]="'white'" [style.padding]="'10px'">Spotify Playlists</h4>
        </div>
            
    </div>
</div>